package-manager=pnpm
save-exact=true
# these are needed for a succesful run of `build-storybook` in amplify through pnpm
# https://pnpm.io/settings#nodelinker
node-linker=hoisted
# https://pnpm.io/settings#shamefullyhoist
shamefully-hoist=true